{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load crispy_forms_tags %}

{% block extra_header %}
  <link rel="stylesheet" href="{% static 'library/dselect/dselect.css' %}">
  <script src="{% static 'library/dselect/dselect.js' %}"></script>
{% endblock %}

{% block content %}
<h2>Nuevo Cobro</h2>
<form action="#" method="get" id="filter-customer" name="filter-customer">
  <div class="row">
    <div class="col-8">
      <select name="select-customer" id="select-customer" class="form-select" required>
        <option disabled selected> -- Selecciona un Cliente -- </option>
        {% for customer in customers %}
          <option value="{{customer.pk}}" {% if selected_customer == customer.pk %}selected{% endif %}>{{customer.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-4">
      <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
  </div>
</form>

<div class="data-container">
  <div class="accordion accordion-flush create-collection">
    <form action="{% url 'create-collection' %}" method="post" id="create-collection">
      {% csrf_token %}
      {{formset.management_form}}
      <input type="hidden" class="selected-customer" name="customer" value={{selected_customer}}>
      <div class="alert-errors"></div>
      <div class="collection-container"></div>
    </form>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="module" src="{% static 'js/create-collection.js' %}"></script>

<script>
  const config = {
    search: true, // Toggle search feature. Default: false
    creatable: false, // Creatable selection. Default: false
    clearable: false, // Clearable selection. Default: false
    maxHeight: '360px', // Max height for showing scrollbar. Default: 360px
    size: '', // Can be "sm" or "lg". Default ''
    placeholder: 'Buscar',
    noResults: 'Sin Resultados'
  };
  dselect(document.querySelector('#select-customer'), config);
</script>
{% endblock %}