{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% load mathfilters %}
{% load crispy_forms_tags %}

{% block extra_header %}
  <link rel="stylesheet" href="{% static 'library/dselect/dselect.css' %}">
  <script src="{% static 'library/dselect/dselect.js' %}"></script>
{% endblock %}

{% block content %}
<h2>{% translate "New Collection" %}</h2>
<form action="#" method="get" id="filter-customer" name="filter-customer">
  <div class="row">
    <div class="col col-sm-8">
      <select name="select-customer" id="select-customer" class="form-select" required>
        <option value=""> -- {% translate "Select a customer" context "Select customer default option" %} -- </option>
        {% for customer in customers %}
          <option value="{{customer.pk}}" {% if selected_customer == customer.pk %}selected{% endif %}>{{customer.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-2 col-sm-3">
      <button type="submit" class="btn btn-primary"><span class="d-none d-sm-inline">{% translate "Search" context "Search button" %}</span> <i class="bi bi-search"></i></button>
    </div>
  </div>
</form>

<div class="data-container">
  <div class="accordion accordion-flush create-collection">
    <form action="{% url 'create-collection' %}" method="post" id="create-collection">
      {% csrf_token %}
      {{formset.management_form}}
      <input type="hidden" class="selected-customer" name="customer" value={{selected_customer}}>
      <div class="alert-errors"></div>
      <div class="collection-container"></div>
    </form>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="module" src="{% static 'js/create-collection.js' %}"></script>

<script>
  const config = {
    search: true, // Toggle search feature. Default: false
    creatable: false, // Creatable selection. Default: false
    clearable: true, // Clearable selection. Default: false
    maxHeight: '360px', // Max height for showing scrollbar. Default: 360px
    size: '', // Can be "sm" or "lg". Default ''
    placeholder: '{% translate "Search" context "dselect search button" %}',
    noResults: '{% translate "No Results" context "dselect no results text" %}'
  };
  dselect(document.querySelector('#select-customer'), config);

  // Set focus on search field when user opens the select element
  const customerSelect = document.querySelector('#select-customer + div.dselect-wrapper');
  const customerSearch = customerSelect.querySelector('.dropdown-menu input');

  customerSelect.addEventListener('shown.bs.dropdown', e => {
    customerSearch.focus();
  });
</script>
{% endblock %}