{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load crispy_forms_tags %}

{% block content %}
<h2>Nuevo Cobro</h2>
<form action="#" method="get" id="filter-customer" name="filter-customer">
  <div class="row">
    <div class="col-8">
      <select name="select-customer" id="select-customer" class="form-select" required>
        <option disabled selected> -- Selecciona un Cliente -- </option>
        {% for customer in customers %}
          <option value="{{customer.pk}}" {% if selected_customer == customer.pk %}selected{% endif %}>{{customer.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-4">
      <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
  </div>
</form>

<div class="data-container">
  <div class="accordion accordion-flush create-collection">
    <form action="{% url 'create-collection' %}" method="post">
      {% csrf_token %}
      {{formset.management_form}}
      <input type="hidden" class="selected-customer" name="customer" value={{selected_customer}}>
      <div class="empty-data">
        <div class="empty-sale">
          <div class="sale-details">
            <span class="badge text-bg-primary">#<span class="id"></span></span>
            <span class="badge text-bg-primary"><span class="date"></span></span>
            <span class="badge text-bg-primary"><span class="installments"></span> cuotas</span>
            <span class="badge text-bg-primary">Cobrado: $<span class="paid-amount"></span></span>
            <span class="badge text-bg-primary">Pendiente: $<span class="pending-balance"></span></span>
          </div>
          <div style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb" class="products-list">
            <ol class="breadcrumb" style="font-weight: 700; font-size: 1.3rem;">
            </ol>
          </div>
          <table class="table table-hover next-installment">
            <thead class="table-light">
              <tr>
                <th scope="col">Cuota</th>
                <th scope="col">Importe Total</th>
                <th scope="col">Importe Pagado</th>
                <th scope="col">A Pagar</th>
              </tr>
            </thead>
            <tbody>
              <tr class="empty-form">
                <input type="hidden" name="collection-__prefix__-installment" value="" id="id_collection-__prefix__-installment">
                <input type="hidden" name="collection-__prefix__-sale_id" value="" id="id_collection-__prefix__-sale_id">
                <input type="hidden" name="collection-__prefix__-group" value="" id="id_collection-__prefix__-group">
                <th scope="row" class="installment">
                  <input type="checkbox" name="collection-__prefix__-checked" id="id_collection-__prefix__-checked"> <span></span>
                </th>
                <td class="installment-amount">
                  <input type="number" name="collection-__prefix__-installment_amount" value="" readonly="" class="form-control-plaintext" step="any" id="id_collection-__prefix__-installment_amount">
                </td>
                <td class="paid-amount">
                  <input type="number" name="collection-__prefix__-paid_amount" value="" readonly="" class="form-control-plaintext" step="any" id="id_collection-__prefix__-paid_amount">
                </td>
                <td class="amount">
                  <div id="div_id_collection-__prefix__-amount" class="mb-3">
                    <input type="number" name="collection-__prefix__-amount" class="payment-input numberinput form-control" step="any" id="id_collection-__prefix__-amount" max="">
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapse-__sale_pk__" aria-expanded="false" aria-controls="flush-collapse-__sale_pk__">
            <span class="button-text"></span>
          </button>
          <div id="flush-collapse-__sale_pk__" class="accordion-collapse collapse" aria-labelledby="flush-heading-__sale_pk__" data-bs-parent="#installments">
            <table class="table table-hover pending-installments">
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="sales-container"></div>
      <div class="totals d-flex flex-column align-items-end mb-5">
        <p class="p-0 fs-4">Total: $<span id="total">0,00</span></p>
        <input type="submit" value="Guardar" class="btn btn-primary">
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="module" src="{% static 'js/create-collection.js' %}"></script>
{% endblock %}