{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% load mathfilters %}
{% load crispy_forms_tags %}

{% block content %}
<h2>{% translate "Delivery of Collections" %}</h2>
<form action="{% url 'collection-delivery' %}" method="get" id="filter-collector" name="filter-collector">
  <div class="row">
    <div class="col col-sm-8">
      <select name="select-collector" id="select-collector" class="form-select" required>
        <option disabled selected> -- {% translate "Select a collector" context "Select collector default option" %} -- </option>
        {% for c in collector %}
          <option value="{{c.pk}}" {% if selected_collector == c.pk %}selected{% endif %}>{{c.first_name}} {{c.last_name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-2 col-sm-3">
      <button type="submit" class="btn btn-primary"><span class="d-none d-sm-inline">{% translate "Search" context "Search button" %}</span> <i class="bi bi-search"></i></button>
    </div>
  </div>
</form>

<div class="data-container">
  <div class="delivery-collection">
  {% if collections %}
    <form action="{% url 'collection-delivery' %}" method="post" id="delivery-collection">
      {% csrf_token %}
      <input type="hidden" name="selected-collector" value="{{selected_collector}}">
      <table class="table table-hover">
        <thead class="table-light">
          <tr>
            <th scope="col"><input type="checkbox" id="check-all"> ID</th>
            <th scope="col">{% translate "Customer" context "Column name" %}</th>
            <th scope="col">{% translate "Date" context "Column name" %}</th>
            <th scope="col">{% translate "Amount Paid" context "Column name" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for c in collections %}
          <tr>
            <th scope="row" class="col-2">
              <input type="checkbox" name="collection" value="collection-{{c.id}}" data-amount="{{c.amount|default:0.0|stringformat:".2f"}}"> <span>{{c.id}}</span>
            </th>
            <td class="col-4">{{c.customer.name}}</td>
            <td class="col-4">{{c.date|date:"D d/m/y"}}</td>
            <td class="col-2 text-end">{{c.amount|default:0.0|floatformat:0|intcomma}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="totals d-flex flex-column align-items-end mb-5">
        <p class="p-0">{% translate "Total" %}: $<span id="total">0,00</span></p>
        <input type="submit" id="submit-collection" value="{% translate "Save" context "Save button" %}" class="btn btn-primary">
      </div>
    </form>
  {% else %}
    {% if selected_collector %}
      <div class="alert alert-warning" role="alert">
        {% translate "There are no pending collections!" %}
      </div>
    {% endif %}
  {% endif %}
  </div>
</div>
{% endblock %}


{% block extra_js %}
<script>
  let total = 0.00;
  let totalTag = document.querySelector('#total');
  const checkboxes = document.querySelectorAll('input[type="checkbox"]:not(#check-all)');
  const checkAllCheckbox = document.querySelector('#check-all');

  /**
  * Updates the total tag in the template.
  * 
  * @param {Number} amount Receives a number to calculate the total amount
  */
  function updateTotal(amount) {
    total += amount;
    totalTag.innerText = total.toLocaleString("es-AR", {
      minimumFractionDigits: 2,
      maximumFractionDigits: 2
    });
  };

  /**
  * Handles actions when a checkbox is clicked
  * 
  * @param {object} checkbox A checkbox element
  */
  function handleCheckboxChangeEvent(event) {
    event.stopImmediatePropagation();
    const checkbox = event.target;

    const currentAmount = parseFloat(checkbox.dataset.amount);
    // When checkbox change its state:
    if (checkbox.checked) {
      updateTotal(currentAmount);
    } else {
      updateTotal(-currentAmount);
    }
  };

  /**
  * Check or uncheck all checkboxes
  * 
  * @param {Boolean} action Check or uncheck
  */
  function checkUncheckAll(action) {
    if(action == 'check') {
      total = 0.00;
      let customTotal = 0.00;
      checkboxes.forEach(checkbox => {
        customTotal += parseFloat(checkbox.dataset.amount);
        checkbox.checked = true;
      });
      updateTotal(customTotal);
    }

    if(action == 'uncheck') {
      total = 0.00;
      checkboxes.forEach(checkbox => {
        checkbox.checked = false;
      });
      updateTotal(0.00);
    }
  };

  // Attach events to checkboxes inputs
  checkboxes.forEach(checkbox => {
    checkbox.addEventListener('change', e => handleCheckboxChangeEvent(e));
  });

  // Check all checkbox
  checkAllCheckbox.addEventListener('change', e => {
    const checkbox = e.target;
    if (checkbox.checked) {
      checkUncheckAll('check');
    } else {
      checkUncheckAll('uncheck');
    }
  })
</script>
{% endblock %}