{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h2>Cobranzas sin Sincronizar</h2>
  
  <table class="table table-hover unsynchronized-collection-table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Fecha</th>
        <th scope="col">Cliente</th>
        <th scope="col">Importe</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr class="empty-row">
        <th scope="row" class="id"></th>
        <td class="date"></td>
        <td class="customer"></td>
        <td class="paid-amount"></td>
        <td>
          <a href="#" class="btn btn-primary receipt-button" target="_blank">
            <i class="bi bi-receipt"></i>
            <span class="d-none d-sm-inline">Recibo</span>
          </a>
          <!-- <a href="#" class="btn btn-primary">Editar</a> -->
        </td>
      </tr>
    </tbody>
  </table>
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.8/dayjs.min.js" integrity="sha512-af90l7+r/ujCury3kqomcoZ4aNuC4JP0xUUU682bqlRCLLvGJrc9L82zONFccLWmxcMXSqO9d6C7Rr39EkbT3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/unsynchronized-collection.js' %}" type="module"></script>
{% endblock %}