{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% load i18n %}

{% block content %}
<h2>{% translate "Collection Update" %}</h2>
<div class="create-collection">
  <form action="{% url 'update-collection' collection_id %}" method="post">
    {% csrf_token %}
    <div class="sales-container">
      {% for sale in collection_installment %}
        <div class="sale">
          <div class="sale-header">
            <div class="sale-details">
              <span class="badge text-bg-primary">#<span class="id">{{sale.sale.id}}</span></span>
              <span class="badge text-bg-primary"><span class="date">{{sale.sale.date}}</span></span>
              <span class="badge text-bg-primary"><span class="installments">{{sale.sale.installments}}</span> {% translate "installments" %}</span>
              <span class="badge text-bg-primary">{% translate "Collected" %}: $<span class="paid-amount">{{sale.sale.paid_amount|floatformat:2|intcomma}}</span></span>
              <span class="badge text-bg-primary">{% translate "To Collect" %}: $<span class="pending-balance">{{sale.sale.pending_balance|floatformat:2|intcomma}}</span></span>
            </div>
          </div>
          <div style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb" class="products-list">
            <ol class="breadcrumb" style="font-weight: 700; font-size: 1.3rem;">
              {% for product in sale.sale.products %}
                <li class="breadcrumb-item">{{product}}</li>
              {% endfor %}
            </ol>
          </div>
          <table class="table table-hover next-installment">
            <thead class="table-light">
              <tr>
                <th scope="col">{% translate "Installment" context "Column name" %}</th>
                <th scope="col">{% translate "Total" context "Column name" %}</th>
                <th scope="col">{% translate "Amount Paid" context "Column name" %}</th>
              </tr>
            </thead>
            <tbody class="next-installment-tbody">
              {% for installment in sale.installments %}
                <tr>
                  <input type="hidden" name="collection-installment" value="{{sale.sale.id}}-{{installment.sale_installment__installment}}">
                  <th scope="row" class="installment">
                    <span>{{installment.sale_installment__installment}}</span>
                  </th>
                  <td class="installment-amount">
                    <span>{{installment.sale_installment__installment_amount}}</span>
                  </td>
                  <td class="paid-amount">
                    <input type="number" name="amount-{{sale.sale.id}}-{{installment.sale_installment__installment}}" class="payment-input numberinput form-control" step="any" max="{{installment.sale_installment__installment_amount|stringformat:".2f"}}" value="{{installment.amount|stringformat:".2f"}}">
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endfor %}
    </div>
    <div class="totals d-flex flex-column align-items-end mb-5">
      <p class="p-0">{% translate "Total" %}: $<span id="total">{{total.total}}</span></p>
      <input type="submit" id="submit-collection" value="{% translate "Save" context "Save button" %}" class="btn btn-primary">
    </div>
  </form>
</div>
{% endblock %}

{% block extra_js %}
<script>
  let total = parseFloat({{total.total|stringformat:".2f"}});
  let totalTag = document.querySelector('#total');
  const inputs = document.querySelectorAll('.payment-input');

  /**
  * Updates the total tag in the template.
  * 
  * @param {Number} amount Receives a number to calculate the total amount
  */
  function updateTotal(amount) {
    total += amount;
    totalTag.innerText = total.toLocaleString("es-AR", {
      minimumFractionDigits: 2,
      maximumFractionDigits: 2
    });
  };

  /**
  * Handle the input click/select event.
  * 
  * @param {Object} input Receives the target input when the click/select event is triggered
  */
  function handlePaymentInputClickSelectEvent(input) {
    // When an amount input is clicked, the "data-old-value" attribute is updated
    // The select event fires when some text has been selected
    // preserves old value
    input.dataset.oldValue = input.value;
  }

  /**
  * Handle the input change event. Updates the total when an input is modified.
  * 
  * @param {Object} event Receives the event object when the change event is triggered
  */
  function handlePaymentInputChangeEvent(event) {
    event.stopImmediatePropagation();
    
    const input = event.target;

    // Get input value and remove spaces
    const inputValue = input.value.trim();

    // Check if inputValue is not null and entered value is not equal to zero
    if (!inputValue || parseFloat(inputValue) == 0.0) {
      // Update input value to zero
      input.value = 0.00;
    }

    // The change event in amount inputs updates values and totals
    const oldValue = parseFloat(input.dataset.oldValue) || 0.0;
    const currentValue = parseFloat(input.value) || 0.0;
    const maxValue = parseFloat(input.max) || 0.0;

    // If the value entered by the user is greater than the maximum value
    // then use maxValue as the currentValue
    if (currentValue > maxValue) {
      input.value = maxValue.toFixed(2);
      updateTotal(maxValue - oldValue);
    } else {
      updateTotal(currentValue === 0.0 ? -oldValue : currentValue - oldValue);
    }
  }

  // Attach events to inputs
  inputs.forEach(input => {
    this.addEventListener('change', e => handlePaymentInputChangeEvent(e));
    this.addEventListener('click', e => handlePaymentInputClickSelectEvent(e.target));
    this.addEventListener('select', e => handlePaymentInputClickSelectEvent(e.target));
  });
</script>
{% endblock %}