.content {
  padding: 2rem 3rem;
}

.content h2 {
  border-bottom: 1px solid #BBB;
  margin-bottom: 2rem;
}

.content form {
  max-width: 600px;
}

.content form input[type="submit"] {
  margin-top: 1.5rem;
}

.content table td,
.content table th {
  vertical-align: middle;
}

.content table td i,
.content table th i {
  font-size: 1.2rem;
}

.content .sale-creation hr {
  margin: 2rem 0;
}

.content .sale-creation h3.title,
.content .sale-creation #payment-scheme .title {
  margin-top: 1.5rem;
  padding-bottom: .5rem;
}

.content .sale-creation h3.title {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.content .sale-creation #payment-scheme .title {
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  margin-bottom: 0rem;
}

.content .sale-creation #payment-scheme .payment-scheme-row th,
.content .sale-creation #payment-scheme .payment-scheme-row td {
  visibility: hidden;
}

.content .sale-creation #add-form {
  margin-top: 1rem;
}

.content .sales-list .sale-detail {
  border-bottom-color: transparent;
}

.content .sales-list .installments-detail {
  box-shadow: none !important;
  padding: 0 1.5rem 1rem 1.5rem;
}

.content .sales-list .installments-detail table {
  font-size: .9rem;
  max-width: 500px;
}

.content .sales-list .installments-detail .accordion-item {
  margin-bottom: 1rem;
}

.content .sales-list .installments-detail .accordion-button {
  color: var(--bs-accordion-active-color);
  font-size: .8rem;
  padding: 0;
}

.content .sales-list .installments-detail .accordion-button::after {
  background-position: center;
  background-size: 15px;
  margin-left: 1rem;
}

.content .sales-list .installments-detail .accordion-button.collapsed {
  border-radius: 0 !important;
}

.content .sales-list .installments-detail .accordion-button:not(.collapsed) {
  background-color: transparent;
}

.content .sales-list .installments-detail .accordion-body {
  padding-top: .5rem;
}

.content .create-collection {
  margin-top: 5rem;
}

.content .create-collection input[type="checkbox"] {
  margin-right: .5rem;
}

.content .create-collection input {
  width: auto;
}

.content .create-collection .form-control-plaintext {
  /* text-align: right; */
  outline: 0;
}

.content .create-collection form {
  max-width: 1200px;
  width: 100%;
}

.content .create-collection .table,
.content .create-collection form .mb-3 {
  margin-bottom: 0 !important;
}