@page {
  margin: 0;
}

.receipt {
  width: 58mm;
  font-size: .8rem;
}

.receipt h2 {
  font-size: 1.2rem;
}

.receipt h3 {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.receipt h6 {
  margin-bottom: 1rem;
}

.receipt table {
  width: 100%;
}

.receipt .details {
  font-size: .9rem;
  padding: 0 .5rem;
}

.receipt .installment-detail.customer .customer-name {
  font-weight: bold;
  text-transform: uppercase;
}

.receipt .details span {
  font-weight: bold;
}

.receipt .installments h3 {
  font-size: 1.1rem;
  margin-top: 1.2rem;
}

.receipt .installments .line span {
  border-bottom: 1px solid grey;
  width: 100%;
  opacity: .60;
}

.receipt .installments table,
.receipt .total table {
  width: 100%;
}

.receipt .installments table li {
  list-style-type: circle;
}

.receipt .total td {
  font-size: 1.1rem;
  font-weight: bold;
}

.receipt .disclaimer {
  margin-top: 1.5rem;
}

.receipt .disclaimer p {
  font-size: .5rem;
}