@page {
  margin: 1mm;
  size: 56mm 180mm;
}

.receipt {
  /* width: 58mm; */
  width: 100%;
  font-size: .8rem;
}

.receipt h1 {
  font-size: 1.6rem;
  text-align: center;
}

.receipt h3 {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.receipt h6 {
  margin-bottom: 1rem;
  text-align: center;
}

.receipt table {
  text-align: center;
  width: 100%;
}

.receipt .details {
  font-size: .9rem;
  padding: 0 .5rem;
}

.receipt .details.customer p {
  margin: .1rem 0;
}

.receipt .details.customer .customer-name {
  font-weight: bold;
  text-transform: uppercase;
}

.receipt .details span {
  font-weight: bold;
}

.receipt .installments h3 {
  font-size: 1.1rem;
  margin-top: 1.2rem;
  text-align: center;
}

.receipt .installments .line {
  display: flex;
}

.receipt .installments .line span {
  border-bottom: 1px solid grey;
  /* max-width: 300px; */
  width: 100%;
  opacity: .60;
}

.receipt .installments table,
.receipt .total table {
  width: 100%;
}

.receipt .installments table td:first-child,
.receipt .total table td:first-child {
  text-align: left;
}

.receipt .installments table td:nth-child(2),
.receipt .total table td:nth-child(2) {
  text-align: right;
}

.receipt .installments table li {
  margin-left: 1rem;
  list-style-type: circle;
}

.receipt .total td {
  font-size: 1.1rem;
  font-weight: bold;
}

.receipt .disclaimer {
  margin-top: 1.5rem;
}

.receipt .disclaimer p {
  font-size: .5rem;
  text-align: center;
}