{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>

    <!-- PWA Setup -->
    <!-- Path to manifest.json -->
    <link rel="manifest" href="{% url 'manifest' %}">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="App Cobranzas">

    <!-- Chrome for Android theme color -->
    <meta name="theme-color" content="#198754">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="App Cobranzas">
    <meta name="apple-mobile-web-app-status-bar-style" content="#198754">

    <link rel="apple-touch-icon" href="{% static 'img/icon/icon-92x92.png' %}" sizes="96x96">
    <link rel="apple-touch-icon" href="{% static 'img/icon/icon-512x512.png' %}" sizes="512x512">

    <link href="{% static 'img/icon/icon-512x512.png' %}" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image"/>
    <!-- End PWA Setup -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    
    <script type="text/javascript">
      // If the browser supports the service worker api
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register("{% url 'serviceworker' %}").then(registration => {
            // Registration was successful
            console.log('Service Worker registration was successful with scope: ', registration.scope);
          }, err => {
            // registration failed :(
            console.log('ServiceWorker registration failed: ', err);
          });
        });
      }
    </script>
    {% block extra_header %}{% endblock %}
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <i class="bi bi-collection-fill"></i>
            Cobranzas <span id="app-version" class="text-black-50 fs-6 ms-1"></span>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar-content">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">{% translate "Home" %}</a>
              </li>
              {% if request.user.is_staff %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-users" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {% translate "Users" %}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbar-dropdown-users">
                    <li><a class="dropdown-item" href="{% url 'signup' %}">{% translate "Create User" %}</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'list-users' %}">{% translate "User List" %}</a></li>
                  </ul>
                </li>
              {% endif %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-customers" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {% translate "Customers" %}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbar-dropdown-customers">
                  {% if request.user.is_staff %}
                    <li><a class="dropdown-item" href="{% url 'create-customer' %}">{% translate "Create Customer" %}</a></li>
                    <li><hr class="dropdown-divider"></li>
                  {% endif %}
                  <li><a class="dropdown-item" href="{% url 'list-customers' %}">{% translate "Customer List" %}</a></li>
                </ul>
              </li>
              {% if request.user.is_staff %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-customers" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {% translate "Products" %}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbar-dropdown-customers">
                    <li><a class="dropdown-item" href="{% url 'create-product' %}">{% translate "Create Product" %}</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'list-product' %}">{% translate "Product List" %}</a></li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-sales" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {% translate "Sales" %}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbar-dropdown-sales">
                    <li><a class="dropdown-item" href="{% url 'create-sale' %}">{% translate "New Sale" %}</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'list-sales' %}">{% translate "Sales List" %}</a></li>
                    <li><a class="dropdown-item" href="{% url 'list-uncollectible-sales' %}">{% translate "Uncollectible Sales List" %}</a></li>
                  </ul>
                </li>
              {% endif %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-installments" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {% translate "Collections" %}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbar-dropdown-installments">
                  <li><a class="dropdown-item" href="{% url 'create-collection' %}">{% translate "New Collection" %}</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'list-collection' %}">{% translate "Collection List" %}</a></li>
                  <li><a class="dropdown-item" href="{% url 'pending-collection' %}">{% translate "Non-Synchronized Collections" %}</a></li>
                  {% if request.user.is_staff %}
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'collection-delivery' %}">{% translate "Delivery of Collections" %}</a></li>
                  {% endif %}
                </ul>
              </li>
              {% if request.user.is_staff %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-reports" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {% translate "Reports" %}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbar-dropdown-reports">
                    <li><a class="dropdown-item" href="{% url 'list-collection-delivery' %}">{% translate "Collection Delivery List" %}</a></li>
                    <li><a class="dropdown-item" href="{% url 'list-pending-balance' %}">{% translate "Pending Balance List" %}</a></li>
                    <li><a class="dropdown-item" href="{% url 'list-defaulters' %}">{% translate "Defaulters List" %}</a></li>
                  </ul>
                </li>
              {% endif %}
            </ul>
            {% comment %} <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="..." aria-label="Search">
              <button class="btn btn-primary" type="submit">Buscar</button>
            </form> {% endcomment %}
            <a type="button" class="btn btn-danger ms-2" href="{% url 'logout' %}">
              <i class="bi bi-box-arrow-right"></i>
            </a>
          </div>
        </div>
      </nav>
    </header>
    <section class="content container mt-4 mb-3">
      <div class="alert alert-danger offline" role="alert">
        <i class="bi bi-exclamation-circle-fill"></i> {% translate "You're offline!" %}
      </div>
      <div class="synchronization text-end">
        <div class="sync-date">
          <div class="sync-button-container">
            <div>
              <span class="last-sync">-</span><span class="spinner-border spinner-border-sm text-secondary" role="status"></span>
            </div>
            <span class="sync-title">{% translate "Last Sync" %}</span>
          </div> 
          <button id="sync-button" type="button" class="btn btn-primary">
            <span class="d-none d-sm-inline">{% translate "Sync" context "Sync button" %}</span> <i class="bi bi-arrow-repeat"></i>
          </button>
          <span id="pending-requests" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{% translate "Collections pending synchronization!" context "Collections pending synchronization tooltip" %}">
            <button type="button" class="btn btn-sm btn-danger" disabled>
              <i class="bi bi-exclamation-lg"></i>
            </button>
          </span>
        </div>
      </div>
      <div class="content-wrapper">
        {% block content %}{% endblock %}
      </div>
    </section>
    {% block extra_js %}{% endblock %}
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="{% static 'js/sync.js' %}" type="module"></script>
    <script>
      const appVersionTag = document.getElementById('app-version');
      fetch('/sw-version').then(async res => {
        if(res.status == 200) {
          const data = await res.json();
          appVersionTag.innerText = `v${data.version}`;
        }
      }).catch(async err => {
        console.log(err);
      });
    </script>
  </body>
</html>
