{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load crispy_forms_tags %}
{% load lookup_dict %}
{% load get_sale_products %}

{% block extra_header %}
  <link rel="stylesheet" href="{% static 'library/dselect/dselect.css' %}">
  <script src="{% static 'library/dselect/dselect.js' %}"></script>
{% endblock %}

{% block content %}
<h2>Ventas Incobrables</h2>
<form action="{% url 'create-uncollectible-sale' %}" method="get" id="filter-customer" name="filter-customer">
  <div class="row">
    <div class="col col-sm-8">
      <select name="select-customer" id="select-customer" class="form-select" required>
        <option disabled selected> -- Selecciona un Cliente -- </option>
        {% for customer in customers %}
          <option value="{{customer.pk}}" {% if selected_customer == customer.pk %}selected{% endif %}>{{customer.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-2 col-sm-3">
      <button type="submit" class="btn btn-primary"><span class="d-none d-sm-inline">Buscar</span> <i class="bi bi-search"></i></button>
    </div>
  </div>
</form>

<div class="data-container">
  {% if data %}
    <div class="accordion accordion-flush uncollectible-sale">
      <form action="{% url 'create-uncollectible-sale' %}" method="post" id="create-uncollectible-sale">
        {% csrf_token %}
        <input type="hidden" class="selected-customer" name="customer" value={{selected_customer}}>
        <div class="alert-errors"></div>

        <table class="table table-hover table-with-installments-detail">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Fecha</th>
              <th scope="col">Importe Total</th>
              <th scope="col" class="d-none d-md-table-cell">Importe Pagado</th>
              <th scope="col" class="d-none d-sm-table-cell">Cuotas Pendientes</th>
              <th scope="col" style="color: red;">Saldo Deudor</th>
              <th scope="col">Incobrable?</th>
            </tr>
          </thead>
          <tbody>
            {% for sale in data %}
              <tr class="sale-detail">
                <th scope="row" class="col-1">{{sale.id}}</th>
                <td class="col-2">{{sale.date}}</td>
                <td class="text-end col-3 col-sm-2">{{sale.price|floatformat:0|intcomma}}</td>
                <td class="text-end d-none d-md-table-cell col-md-2">{{sale.paid_amount|floatformat:0|intcomma}}</td>
                <td class="text-center d-none d-sm-table-cell col-sm-2">{{sale.installments_data|length}}</td>
                <td class="text-end col-3 col-sm-2" style="color: red;">{{sale.pending_balance|floatformat:0|intcomma}}</td>
                <td class="text-center col-3 col-md-2"><input type="checkbox" name="uncollectible-sale" value="{{sale.id}}"></td>
              </tr>
              <tr>
                <td colspan="9" class="installments-detail">
                  <div class="accordion accordion-flush" id="accordion-flush-{{sale.id}}">
                    <div class="accordion-item">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{sale.id}}" aria-expanded="false" aria-controls="flush-collapse-{{sale.id}}">
                        Más detalles
                      </button>
                      <div id="flush-collapse-{{sale.id}}" class="accordion-collapse collapse" aria-labelledby="flush-heading-{{sale.id}}" data-bs-parent="#accordion-flush-{{sale.id}}">
                        <div class="accordion-body">
                          <h6 class="d-md-none">Otros Datos</h6>
                          <table class="table d-md-none">
                            <thead class="table-light">
                              <th scope="col" class="text-center d-sm-none">Cuotas Pendientes</th>
                              <th scope="col" class="text-center">Cobrado</th>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="text-center d-sm-none">{{sale.installments_data|length}}</td>
                                <td class="text-center">{{sale.paid_amount|floatformat:0|intcomma}}</td>
                              </tr>
                            </tbody>
                          </table>
                          <table class="table">
                            <thead class="table-light">
                              <th scope="col">Productos</th>
                              {% comment %} <th scope="col">Precio</th> {% endcomment %}
                            </thead>
                            <tbody>
                              {% for product in sale.products %}
                                <tr>
                                  <td>{{product}}</td>
                                  {% comment %} <td>{{p.price|floatformat:0|intcomma}}</td> {% endcomment %}
                                </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                          <br>
                          <h6>Detalle de Cuotas</h6>
                          <table class="table">
                            <thead class="table-light">
                              <tr>
                                <th scope="row">Cuota</th>
                                <th>Importe</th>
                                <th>Pagado</th>
                                <th>Estado</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for i in sale.installments_data %}
                                <tr>
                                  <td scope="row">{{i.installment}}</td>
                                  <td>{{i.installment_amount}}</td>
                                  <td>{{i.paid_amount}}</td>
                                  <td>{{i.status}}</td>
                                </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="totals d-flex flex-column align-items-end mb-5">
          {% comment %} <p class="p-0 fs-4">Total: $<span id="total">0,00</span></p> {% endcomment %}
          <input type="submit" id="submit-collection" value="Guardar" class="btn btn-primary">
        </div>
      </form>
    </div>
  {% else %}
    {% if selected_customer %}
      <div class="alert alert-warning" role="alert">
        No hay ventas pendientes!
      </div>
    {% endif %}
  {% endif %}
</div>
{% endblock %}

{% block extra_js %}
<script>
  const config = {
    search: true, // Toggle search feature. Default: false
    creatable: false, // Creatable selection. Default: false
    clearable: false, // Clearable selection. Default: false
    maxHeight: '360px', // Max height for showing scrollbar. Default: 360px
    size: '', // Can be "sm" or "lg". Default ''
    placeholder: 'Buscar',
    noResults: 'Sin Resultados'
  };
  dselect(document.querySelector('#select-customer'), config);

  // Set focus on search field when user opens the select element
  const customerSelect = document.querySelector('#select-customer + div.dselect-wrapper');
  const customerSearch = customerSelect.querySelector('.dropdown-menu input');

  customerSelect.addEventListener('shown.bs.dropdown', e => {
    customerSearch.focus();
  });
</script>
{% endblock %}