{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load crispy_forms_tags %}
{% load lookup_dict %}
{% load get_sale_products %}

{% block content %}
<h2>Ventas Incobrables</h2>
<form action="{% url 'create-uncollectible-sale' %}" method="get" id="filter-customer" name="filter-customer">
  <div class="row">
    <div class="col-8">
      <select name="select-customer" id="select-customer" class="form-select" required>
        <option disabled selected> -- Selecciona un Cliente -- </option>
        {% for customer in customers %}
          <option value="{{customer.pk}}" {% if selected_customer == customer.pk %}selected{% endif %}>{{customer.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-4">
      <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
  </div>
</form>

{% if data %}
  <div class="data-container">
    <div class="accordion accordion-flush create-collection">
      <form action="{% url 'create-uncollectible-sale' %}" method="post" id="create-uncollectible-sale">
        {% csrf_token %}
        <input type="hidden" class="selected-customer" name="customer" value={{selected_customer}}>
        <div class="alert-errors"></div>

        <table class="table table-hover sales-list">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Productos</th>
              <th scope="col">Fecha</th>
              <th scope="col">Importe Total</th>
              <th scope="col">Importe Pagado</th>
              <th scope="col">Cuotas Pendientes</th>
              <th scope="col" style="color: red;">Saldo Deudor</th>
              <th scope="col">Incobrable?</th>
            </tr>
          </thead>
          <tbody>
            {% for sale in data %}
              <tr class="sale-detail">
                <th scope="row">{{sale.id}}</th>
                <td>
                  {% for product in sale.products %}
                  <span class="badge text-bg-primary">{{product}}</span>
                  {% endfor %}
                </td>
                <td>{{sale.date|date:"d/m/Y"}}</td>
                <td>{{sale.price|floatformat:2|intcomma}}</td>
                <td>{{sale.paid_amount|floatformat:2|intcomma}}</td>
                <td>{{sale.installments_data|length}}</td>
                <td style="color: red;">{{sale.pending_balance|floatformat:2|intcomma}}</td>
                <td><input type="checkbox" name="uncollectible-sale" value="{{sale.id}}"></td>
              </tr>
              <tr>
                <td colspan="9" class="installments-detail">
                  <div class="accordion accordion-flush" id="accordion-flush-{{sale.id}}">
                    <div class="accordion-item">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{sale.id}}" aria-expanded="false" aria-controls="flush-collapse-{{sale.id}}">
                        Detalle de Cuotas Pendientes
                      </button>
                      <div id="flush-collapse-{{sale.id}}" class="accordion-collapse collapse" aria-labelledby="flush-heading-{{sale.id}}" data-bs-parent="#accordion-flush-{{sale.id}}">
                        <div class="accordion-body">
                          <table class="table">
                            <thead class="table-light">
                              <tr>
                                <th scope="row">#</th>
                                <th>Importe</th>
                                <th>Pagado</th>
                                <th>Estado</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for i in sale.installments_data %}
                                <tr>
                                  <td scope="row">{{i.installment}}</td>
                                  <td>{{i.installment_amount}}</td>
                                  <td>{{i.paid_amount}}</td>
                                  <td>{{i.status}}</td>
                                </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="totals d-flex flex-column align-items-end mb-5">
          {% comment %} <p class="p-0 fs-4">Total: $<span id="total">0,00</span></p> {% endcomment %}
          <input type="submit" id="submit-collection" value="Guardar" class="btn btn-primary">
        </div>
      </form>
    </div>
  </div>
{% endif %}
{% endblock %}