{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% load crispy_forms_tags %}
{% load lookup_dict %}

{% block content %}
<h2>Nuevo Cobro</h2>
<form action="{% url 'create-collection' %}" method="get" id="filter-customer" name="filter-customer">
  <div class="row">
    <div class="col-8">
      <select name="select-customer" id="select-customer" class="form-select" required>
        <option disabled selected> -- Selecciona un Cliente -- </option>
        {% for customer in customers %}
        <option value="{{customer.pk}}" {% if selected_customer %}selected{% endif %}>{{customer.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-4">
      <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
  </div>
</form>

<div class="accordion accordion-flush create-collection">
  {% regroup formset by sale_id.value as sales_list %}
  <form action="{% url 'create-collection' %}" method="post">
    {% csrf_token %}
    {{formset.management_form}}
    {% for sale_id, installments_list in sales_list %}
      {% with sale=sales|lookup_dict:sale_id %}
        <div class="sale">
          <div class="sale-details">
            <span class="badge text-bg-primary">#{{sale.pk}}</span>
            <span class="badge text-bg-primary">{{sale.date|date:"d/m/Y"}}</span>
            <span class="badge text-bg-primary">{{sale.installments}} cuotas</span>
            <span class="badge text-bg-primary">Cobrado: ${{sale.total_paid}}</span>
            <span class="badge text-bg-primary">Pendiente: ${{sale.price|sub:sale.total_paid}}</span>
          </div>
          {% with product=products|lookup_dict:sale.pk %}
            <div style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb" class="products-list">
              <ol class="breadcrumb" style="font-weight: 700; font-size: 1.3rem;">
                {% for p in product %}
                  <li class="breadcrumb-item">{{p}}</li>
                {% endfor %}
              </ol>
            </div>
          {% endwith %}
          {% regroup installments_list by group.value as group_list %}
          {% with last_installment=group_list|length_is:"1" %}
            {% for group_name, installments_details in group_list %}
              {% if group_name == "due" %}
                <table class="table table-hover">
                  <thead class="table-light">
                    <tr>
                      <th scope="col">Cuota</th>
                      <th scope="col">Importe Total</th>
                      <th scope="col">Importe Pagado</th>
                      <th scope="col">A Pagar</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in installments_details %}
                    {{i.installment.as_hidden}}
                    {{i.sale_id.as_hidden}}
                    {{i.group.as_hidden}}
                    <tr>
                      <th scope="row">
                        {{i.checked}} {{i.installment.value}}
                      </th>
                      <td>
                        {{i.installment_amount}}
                      </td>
                      <td>
                        {{i.paid_amount}}
                      </td>
                      <td>
                        {{i.amount|as_crispy_field}}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#flush-collapse-{{sale.pk}}" aria-expanded="false" aria-controls="flush-collapse-{{sale.pk}}">
                  Ver cuotas pendientes
                </button>
              {% elif group_name == "future" %}
                <div id="flush-collapse-{{sale.pk}}" class="accordion-collapse collapse" aria-labelledby="flush-heading-{{sale.pk}}" data-bs-parent="#installments">
                  <table class="table table-hover">
                    <tbody>
                      {% for i in installments_details %}
                      {{i.installment.as_hidden}}
                      {{i.sale_id.as_hidden}}
                      {{i.group.as_hidden}}
                      <tr>
                        <th scope="row">
                          {{i.checked}} {{i.installment.value}}
                        </th>
                        <td>
                          {{i.installment_amount}}
                        </td>
                        <td>
                          {{i.paid_amount}}
                        </td>
                        <td>
                          {{i.amount|as_crispy_field}}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              {% endif %}
              {% if last_installment %}
                <div id="flush-collapse-{{sale.pk}}" class="accordion-collapse collapse"
                  aria-labelledby="flush-heading-{{sale.pk}}" data-bs-parent="#installments">
                  No hay mas cuotas pendientes
                </div>
              {% endif %}
            {% endfor %}
          {% endwith %}
        </div>
      {% endwith %}
    {% endfor %}
    <div class="totals d-flex flex-column align-items-end mb-5">
      <p class="p-0 fs-4">Total: $<span id="total">0,00</span></p>
      <input type="submit" value="Guardar" class="btn btn-primary">
    </div>
  </form>
</div>
{% endblock %}

{% block extra_js %}
<script>
  // List of checkboxes
  const checkInputs = document.querySelectorAll('input[type="checkbox"]');
  // List of payment amount inputs
  const paymentInputs = document.querySelectorAll('.payment-input');
  // Total tag
  const totalTag = document.getElementById('total');
  // Variable to keep the total amount when user checks or changes installments amount
  let total = 0.0;

  // Attach change event listener to each checkbox input
  checkInputs.forEach(checkbox => {
    checkbox.addEventListener('change', e => {
      // Get the form ID from checkbox name attribute
      const formID = checkbox.name.split('-')[1];
      // Get amount input, installment amount and paid amount values
      const paymentInput = document.getElementById(`id_collection-${formID}-amount`);
      const totalAmount = parseFloat(document.getElementById(`id_collection-${formID}-installment_amount`).value);
      const paidAmount = parseFloat(document.getElementById(`id_collection-${formID}-paid_amount`).value);

      // Preserves old value in the data attribute "data-old-value"
      paymentInput.dataset.oldValue = paymentInput.value || 0.0;

      // When checkbox change its state:
      // 1. the amount input is completed with the pending amount
      // 2. the total is updated
      if (checkbox.checked) {
        const payment = paidAmount > 0 ? totalAmount - paidAmount : totalAmount;
        paymentInput.value = payment.toFixed(2);
        updateTotal(payment);
      } else {
        updateTotal(-parseFloat(paymentInput.value));
        paymentInput.value = 0.0.toFixed(2);
      }
    });
  });

  // When an amount input is clicked, the "data-old-value" attribute is updated
  paymentInputs.forEach(input => {
    input.addEventListener('click', e => {
      // preserves old value
      input.dataset.oldValue = input.value;
    });
  });

  // The select event fires when some text has been selected
  paymentInputs.forEach(input => {
    input.addEventListener('select', e => {
      // preserves old value
      input.dataset.oldValue = input.value;
    });
  });

  // Attach the change event to amount inputs to update values and totals
  paymentInputs.forEach(input => {
    input.addEventListener('change', e => {
      const oldValue = parseFloat(input.dataset.oldValue) || 0.0;
      const currentValue = parseFloat(input.value) || 0.0;

      updateTotal(currentValue === 0.0 ? -oldValue : currentValue - oldValue);
    });
  });

  // Update the total variable and the total layout tag
  const updateTotal = amount => {
    total += amount;
    totalTag.innerText = total.toFixed(2);
  };
</script>
{% endblock %}