{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <h2>Nueva Venta</h2>
  <form action="{% url 'create-sale' %}" method="post">
    {% csrf_token %}
    {{ form.user|as_crispy_field }}
    {{ form.customer|as_crispy_field }}
    {{ form.product|as_crispy_field }}
    <div class="row">
      <div class="col-4">
        {{ form.price|as_crispy_field }}
      </div>
      <div class="col-4">
        {{ form.installments|as_crispy_field }}
      </div>
      <div class="col-4">
        {{ form.installment_amount|as_crispy_field }}
      </div>
    </div>
    <div class="col-6" id="payment-scheme">
      <p class="title">Esquema de Pago:</p>
      <table class="table">
        <tbody>
          <tr id="payment-scheme-row-1" class="payment-scheme-row">
            <th scope="row" id="i"></th>
            <td>cuotas de</td>
            <td id="i_amount"></td>
          </tr>
          <tr id="payment-scheme-row-2" class="payment-scheme-row">
            <th scope="row">1</th>
            <td>cuota de</td>
            <td id="rest_amount"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <input type="submit" value="Guardar Venta" class="btn btn-primary">
  </form>
{% endblock %}

{% block extra_js %}
<script>
  //TODO: Please refactor this shit!
  const priceInput = document.getElementById('id_price');
  const installmentsInput = document.getElementById('id_installments');
  const installmentAmountInput = document.getElementById('id_installment_amount');
  const paymentSchemeRow1 = document.getElementById('payment-scheme-row-1');
  const paymentSchemeRow2 = document.getElementById('payment-scheme-row-2');

  const togglePaymentSchemeRow = (row, action) => {
    const th = row.querySelector('th');
    const td = row.querySelectorAll('td');
    if(action == 'hidden') {
      th.style.visibility = 'hidden';
      td[0].style.visibility = 'hidden';
      td[1].style.visibility = 'hidden';
    } else if(action == 'visible') {
      th.style.visibility = 'visible';
      td[0].style.visibility = 'visible';
      td[1].style.visibility = 'visible';
    }
  }

  const updatePaymentSchemeRow = (row, installments, installmentAmount) => {
    const th = row.querySelector('th');
    const td = row.querySelectorAll('td');
    th.innerText = installments;
    td[1].innerText = installmentAmount.toFixed(2);
  }

  priceInput.addEventListener('change', e => {
    installmentsInput.value = '';
    installmentAmountInput.value = '';
    togglePaymentSchemeRow(paymentSchemeRow1, 'hidden');
    togglePaymentSchemeRow(paymentSchemeRow2, 'hidden');
  });

  installmentsInput.addEventListener('change', e => {
    const price = parseFloat(priceInput.value);
    const installments = parseInt(installmentsInput.value);
    const installmentAmount = price / installments;
    installmentAmountInput.value = installmentAmount.toFixed(2);

    updatePaymentSchemeRow(paymentSchemeRow1, installments, installmentAmount);
    togglePaymentSchemeRow(paymentSchemeRow1, 'visible');
    togglePaymentSchemeRow(paymentSchemeRow2, 'hidden');
  });

  installmentAmountInput.addEventListener('change', e => {
    const price = parseFloat(priceInput.value);
    const installmentAmount = parseFloat(installmentAmountInput.value);
    const installments = price / installmentAmount;

    togglePaymentSchemeRow(paymentSchemeRow1, 'visible');
    if(Number.isInteger(installments)) {
      installmentsInput.value = installments;
      updatePaymentSchemeRow(paymentSchemeRow1, installments, installmentAmount);
      togglePaymentSchemeRow(paymentSchemeRow2, 'hidden');
    } else {
      rest = installments - Math.trunc(installments);
      newQuantity = Math.trunc(installments);

      if(rest <= 0.6) {
        newQuantity--;
      }

      installmentsInput.value = newQuantity + 1;
      lastInstallmentAmount = price - (newQuantity * installmentAmount);
      updatePaymentSchemeRow(paymentSchemeRow1, newQuantity, installmentAmount);
      updatePaymentSchemeRow(paymentSchemeRow2, 1, lastInstallmentAmount);
      togglePaymentSchemeRow(paymentSchemeRow2, 'visible');
    }
  });
</script>
{% endblock %}