{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load crispy_forms_tags %}
{% load lookup_dict %}

{% block content %}
<h2>Nuevo Cobro</h2>
<form action="#" method="get" id="filter-customer" name="filter-customer">
  <div class="row">
    <div class="col-8">
      <select name="select-customer" id="select-customer" class="form-select" required>
        <option disabled selected> -- Selecciona un Cliente -- </option>
        {% for customer in customers %}
          <option value="{{customer.pk}}" {% if selected_customer == customer.pk %}selected{% endif %}>{{customer.name}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-4">
      <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
  </div>
</form>

<div class="data-container">
  <div class="accordion accordion-flush create-collection">
    <form action="{% url 'create-collection' %}" method="post">
      {% csrf_token %}
      {% comment %} <input type="hidden" name="customer" value={{selected_customer}}> {% endcomment %}
      <div class="sales-container">
        <div class="empty-sale">
          <div class="sale-details">
            <span class="badge text-bg-primary">#<span class="id"></span></span>
            <span class="badge text-bg-primary"><span class="date"></span></span>
            <span class="badge text-bg-primary"><span class="installments"></span> cuotas</span>
            <span class="badge text-bg-primary">Cobrado: $<span class="paid-amount"></span></span>
            <span class="badge text-bg-primary">Pendiente: $<span class="pending-balance"></span></span>
          </div>
          <div style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb" class="products-list">
            <ol class="breadcrumb" style="font-weight: 700; font-size: 1.3rem;">
            </ol>
          </div>
          <table class="table table-hover next-installment">
            <thead class="table-light">
              <tr>
                <th scope="col">Cuota</th>
                <th scope="col">Importe Total</th>
                <th scope="col">Importe Pagado</th>
                <th scope="col">A Pagar</th>
              </tr>
            </thead>
            <tbody>
              <tr class="empty-form">
                <input type="hidden" name="collection-__prefix__-installment" value="" id="id_collection-__prefix__-installment">
                <input type="hidden" name="collection-__prefix__-sale_id" value="" id="id_collection-__prefix__-sale_id">
                <input type="hidden" name="collection-__prefix__-group" value="" id="id_collection-__prefix__-group">
                <th scope="row" class="installment">
                  <input type="checkbox" name="collection-__prefix__-checked" id="id_collection-__prefix__-checked"> <span></span>
                </th>
                <td class="installment-amount">
                  <input type="number" name="collection-__prefix__-installment_amount" value="" readonly="" class="form-control-plaintext" step="any" id="id_collection-__prefix__-installment_amount">
                </td>
                <td class="paid-amount">
                  <input type="number" name="collection-__prefix__-paid_amount" value="" readonly="" class="form-control-plaintext" step="any" id="id_collection-__prefix__-paid_amount">
                </td>
                <td class="amount">
                  <div id="div_id_collection-__prefix__-amount" class="mb-3">
                    <input type="number" name="collection-__prefix__-amount" class="payment-input numberinput form-control" step="any" id="id_collection-__prefix__-amount">
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapse-__sale_pk__" aria-expanded="false" aria-controls="flush-collapse-__sale_pk__">
            <span class="button-text"></span>
          </button>
          <div id="flush-collapse-__sale_pk__" class="accordion-collapse collapse" aria-labelledby="flush-heading-__sale_pk__" data-bs-parent="#installments">
            <table class="table table-hover pending-installments">
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="totals d-flex flex-column align-items-end mb-5">
        <p class="p-0 fs-4">Total: $<span id="total">0,00</span></p>
        <input type="submit" value="Guardar" class="btn btn-primary">
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block extra_js %}

<script>
  const filterCustomerForm = document.getElementById('filter-customer');
  const selectCustomer = filterCustomerForm.querySelector('#select-customer');
  const emptySale = document.querySelector('.sales-container .empty-sale');
  const emptyForm = document.querySelector('.sales-container .empty-form');
  const salesContainer = document.querySelector('.data-container .sales-container');
  var numForm = 0;
  filterCustomerForm.addEventListener('submit', event => {
    event.preventDefault();
    fetchAPI(selectCustomer.value).then((res) => {
      if (res) {
        const sales = Object.values(res.sales);
        const installments = res.installments;
        sales.forEach(item => {
          createSale(item, installments[item.id]);
        });
      }
    });
  });

  const createSale = (sale, installments) => {
    // Clone the empty form and update its index
    const newSale = emptySale.cloneNode(true);
    newSale.classList.add('sale');
    newSale.classList.remove('empty-sale');

    newSale.querySelector('.id').innerText = sale.id;
    newSale.querySelector('.date').innerText = sale.date;
    newSale.querySelector('.installments').innerText = sale.installments;
    newSale.querySelector('.paid-amount').innerText = sale.paid_amount;
    newSale.querySelector('.pending-balance').innerText = sale.pending_balance;

    const products = newSale.querySelector('.breadcrumb');
    for(i = 0; i < sale.products.length; i++) {
      products.innerHTML += `<li class="breadcrumb-item">${sale.products[i]}</li>`;
    }

    createInstallments(sale.id, newSale, installments);
  }

  const createInstallments = (saleId, saleElement, installments) => {
    const tableNextInstallment = saleElement.querySelector('.next-installment tbody');
    const tablePendingInstallments = saleElement.querySelector('.pending-installments tbody');
    const collapseButtonText = saleElement.querySelector('.accordion-button span');

    if(installments['partial'].length > 0) {
      for(i = 0; i < installments['partial'].length; i++) {
        // Clone the empty form and update its index
        const newForm = emptyForm.cloneNode(true);
        newForm.innerHTML = newForm.innerHTML.replace(/__prefix__/g, numForm);
        newForm.classList.remove('empty-form');

        newForm.querySelector('.installment span').innerText = installments['partial'][i]['installment'];
        newForm.querySelector('.installment-amount input').setAttribute('value', installments['partial'][i]['installment_amount'].toFixed(2));
        newForm.querySelector('.paid-amount input').setAttribute('value', installments['partial'][i]['paid_amount'].toFixed(2));
        newForm.querySelector('.amount input').setAttribute('value', "0.00");

        tableNextInstallment.appendChild(newForm);

        numForm++;
      }
    }

    if(installments['next'].length > 0) {
      for(i = 0; i < installments['next'].length; i++) {
        // Clone the empty form and update its index
        const newForm = emptyForm.cloneNode(true);
        newForm.innerHTML = newForm.innerHTML.replace(/__prefix__/g, numForm);
        newForm.classList.remove('empty-form');

        newForm.querySelector('.installment span').innerText = installments['next'][i]['installment'];
        newForm.querySelector('.installment-amount input').setAttribute('value', installments['next'][i]['installment_amount'].toFixed(2));
        newForm.querySelector('.paid-amount input').setAttribute('value', installments['next'][i]['paid_amount'].toFixed(2));
        newForm.querySelector('.amount input').setAttribute('value', "0.00");

        tableNextInstallment.appendChild(newForm);

        numForm++;
      }
    }

    if(installments['pending'].length > 0) {
      collapseButtonText.innerText = "Ver cuotas pendientes";
      for(i = 0; i < installments['pending'].length; i++) {
        // Clone the empty form and update its index
        const newForm = emptyForm.cloneNode(true);
        newForm.innerHTML = newForm.innerHTML.replace(/__prefix__/g, numForm);
        newForm.classList.remove('empty-form');

        newForm.querySelector('.installment span').innerText = installments['pending'][i]['installment'];
        newForm.querySelector('.installment-amount input').setAttribute('value', installments['pending'][i]['installment_amount'].toFixed(2));
        newForm.querySelector('.paid-amount input').setAttribute('value', installments['pending'][i]['paid_amount'].toFixed(2));
        newForm.querySelector('.amount input').setAttribute('value', "0.00");

        tablePendingInstallments.appendChild(newForm);

        numForm++;
      }
    } else {
      collapseButtonText.innerText = "No hay mas cuotas pendientes";
    }

    saleElement.innerHTML = saleElement.innerHTML.replace(/__sale_pk__/g, saleId);

    salesContainer.appendChild(saleElement);
  }

  const fetchAPI = async (customer) => {
    const url = `{% url 'create-collection' %}?select-customer=${customer}`;
    try {
      const response = await fetch(url, {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
        },
      });

      // Parse json response
      const result = await response.json();

      const status_code = response.status;
      if (status_code != 200) {
        console.log("Error in getting brand info!");
        return false;
      }

      return result;
    } catch (error) {
      console.log(error);
    }
  };
</script>


<script>
  // List of checkboxes
  const checkInputs = document.querySelectorAll('input[type="checkbox"]');
  // List of payment amount inputs
  const paymentInputs = document.querySelectorAll('.payment-input');
  // Total tag
  const totalTag = document.getElementById('total');
  // Variable to keep the total amount when user checks or changes installments amount
  let total = 0.0;

  // Attach change event listener to each checkbox input
  checkInputs.forEach(checkbox => {
    checkbox.addEventListener('change', e => {
      // Get the form ID from checkbox name attribute
      const formID = checkbox.name.split('-')[1];
      // Get amount input, installment amount and paid amount values
      const paymentInput = document.getElementById(`id_collection-${formID}-amount`);
      const totalAmount = parseFloat(document.getElementById(`id_collection-${formID}-installment_amount`).value);
      const paidAmount = parseFloat(document.getElementById(`id_collection-${formID}-paid_amount`).value);

      // Preserves old value in the data attribute "data-old-value"
      paymentInput.dataset.oldValue = paymentInput.value || 0.0;

      // When checkbox change its state:
      // 1. the amount input is completed with the pending amount
      // 2. the total is updated
      if (checkbox.checked) {
        const payment = paidAmount > 0 ? totalAmount - paidAmount : totalAmount;
        paymentInput.value = payment.toFixed(2);
        updateTotal(payment);
      } else {
        updateTotal(-parseFloat(paymentInput.value));
        paymentInput.value = 0.0.toFixed(2);
      }
    });
  });

  // When an amount input is clicked, the "data-old-value" attribute is updated
  paymentInputs.forEach(input => {
    input.addEventListener('click', e => {
      // preserves old value
      input.dataset.oldValue = input.value;
    });
  });

  // The select event fires when some text has been selected
  paymentInputs.forEach(input => {
    input.addEventListener('select', e => {
      // preserves old value
      input.dataset.oldValue = input.value;
    });
  });

  // Attach the change event to amount inputs to update values and totals
  paymentInputs.forEach(input => {
    input.addEventListener('change', e => {
      const oldValue = parseFloat(input.dataset.oldValue) || 0.0;
      const currentValue = parseFloat(input.value) || 0.0;

      updateTotal(currentValue === 0.0 ? -oldValue : currentValue - oldValue);
    });
  });

  // Update the total variable and the total layout tag
  const updateTotal = amount => {
    total += amount;
    totalTag.innerText = total.toLocaleString("es-AR", {
      minimumFractionDigits: 2,
      maximumFractionDigits: 2
    });
  };
</script>
{% endblock %}