{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="home d-flex justify-content-center">
  <nav class="main-actions-nav d-flex flex-column align-items-center">
    <a href="{% url 'create-collection' %}" class="btn btn-primary mb-2">
      <i class="bi bi-plus-lg me-2"></i> Nueva Cobranza
    </a>
    <hr class="mb-4">
    <a href="{% url 'list-collection' %}" class="btn btn-outline-primary mb-4">
      <i class="bi bi-card-checklist me-2"></i> Listado de Cobranzas
    </a>
    <a href="{% url 'list-customers' %}" class="btn btn-outline-primary mb-4">
      <i class="bi bi-person-lines-fill me-2"></i> Listado de Clientes
    </a>
  </nav>
</section>
{% endblock %}