{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
  <h2>{% translate "User List" %}</h2>
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">{% translate "User" context "Column name" %}</th>
        <th scope="col">{% translate "Name" context "Column name" %}</th>
        <th scope="col">{% translate "Is Admin?" context "Column name" %}</th>
        <th scope="col">{% translate "Is Collector?" context "Column name" %}</th>
        <th scope="col">{% translate "Actions" context "Column name" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <th scope="row">{{user.username}}</th>
          <td>{{user.first_name}} {{user.last_name}}</td>
          <td>
            {% if user.is_staff %}
              <i class="bi bi-check-circle-fill"></i>
            {% else %}
              <i class="bi bi-x-circle-fill"></i>
            {% endif %}
          </td>
          <td>
            {% if user.is_collector %}
              <i class="bi bi-check-circle-fill"></i>
            {% else %}
              <i class="bi bi-x-circle-fill"></i>
            {% endif %}
          </td>
          <td>
            <a href="#" class="btn btn-primary">
              <i class="bi bi-pencil-square"></i>
              <span class="d-none d-sm-inline">{% translate "Edit" context "Edit button" %}</span>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}