{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% load crispy_forms_tags %}

{% block extra_header %}
  <link rel="stylesheet" href="https://unpkg.com/@jarstone/dselect/dist/css/dselect.css">
  <script src="https://unpkg.com/@jarstone/dselect/dist/js/dselect.js"></script>
{% endblock %}

{% block content %}
  <h2>Lista de Ventas</h2>

  <form action="{% url 'list-sales' %}" method="get" class="filterset-form">
    <div class="row">
      <div class="col-1">
        {{ filter_form.id|as_crispy_field }}
      </div>
      <div class="col-3">
        {{ filter_form.customer|as_crispy_field }}
      </div>
      <div class="col-3">
        {{ filter_form.product|as_crispy_field }}
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="id_date_from" class="form-label">Fecha de Venta</label>
        <div class="input-group mb-3">
          <input type="date" name="date_from" class="dateinput form-control" id="id_date_from" value="{{filter_form.date_from.value}}">
          <span class="input-group-text">&nbsp;</span>
          <input type="date" name="date_to" class="dateinput form-control" id="id_date_to" value="{{filter_form.date_to.value}}">
        </div>
      </div>
    </div>
    <div>
      <input type="submit" value="Filtrar" class="btn btn-secondary">
      <a href="{% url 'list-sales' %}" class="btn btn-secondary erase-filters">Borrar Filtros</a>
    </div>
  </form>
  
  <table class="table table-hover sales-list">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Fecha</th>
        <th scope="col">Cliente</th>
        <th scope="col">Productos</th>
        <th scope="col">Importe</th>
        <th scope="col">Cuotas</th>
        <th scope="col">Cobrado</th>
        <th scope="col">A Cobrar</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for sale in sales %}
        <tr class="sale-detail">
          <th scope="row">{{sale.pk}}</th>
          <td>{{sale.date|date:"d/m/Y"}}</td>
          <td>{{sale.customer}}</td>
          <td>
            {% if sale.products_quantity == 1 %}
              {{sale.products_quantity}} producto
            {% else %}
              {{sale.products_quantity}} productos
            {% endif %}</td>
          <td>{{sale.price|floatformat:2|intcomma}}</td>
          <td>{{sale.installments}}</td>
          <td>{{sale.paid_amount|floatformat:2|intcomma}}</td>
          <td>{{sale.pending_balance|floatformat:2|intcomma}}</td>
          <td>
            <a href="#" class="btn btn-primary">Editar</a>
          </td>
        </tr>
        <tr>
          <td colspan="9" class="installments-detail">
            <div class="accordion accordion-flush" id="accordion-flush-{{sale.pk}}">
              <div class="accordion-item">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{sale.pk}}" aria-expanded="false" aria-controls="flush-collapse-{{sale.pk}}">
                  Detalle de Cuotas
                </button>
                <div id="flush-collapse-{{sale.pk}}" class="accordion-collapse collapse" aria-labelledby="flush-heading-{{sale.pk}}" data-bs-parent="#accordion-flush-{{sale.pk}}">
                  <div class="accordion-body">
                    <table class="table">
                      <thead class="table-light">
                        <tr>
                          <th scope="row">#</th>
                          <th>Importe</th>
                          <th>Pagado</th>
                          <th>Estado</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for i in sale.saleinstallment_set.all %}
                          <tr>
                            <td scope="row">{{i.installment}}</td>
                            <td>{{i.installment_amount|floatformat:2|intcomma}}</td>
                            <td>{{i.paid_amount|floatformat:2|intcomma}}</td>
                            <td>{{i.get_status_display}}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block extra_js %}
<script>
  const config = {
    search: true, // Toggle search feature. Default: false
    creatable: false, // Creatable selection. Default: false
    clearable: false, // Clearable selection. Default: false
    maxHeight: '360px', // Max height for showing scrollbar. Default: 360px
    size: '', // Can be "sm" or "lg". Default ''
  };
  dselect(document.querySelector('#id_customer'), config);
  dselect(document.querySelector('#id_product'), config);
</script>
{% endblock %}