{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <h2>Lista de Clientes</h2>

  <form action="{% url 'list-customers' %}" method="get" class="filterset-form">
    <div class="row">
      <div class="col-3">
        {{ filter_form.name|as_crispy_field }}
      </div>
      <div class="col-3">
        {{ filter_form.city|as_crispy_field }}
      </div>
      <div class="col-3">
        {{ filter_form.address|as_crispy_field }}
      </div>
      {% if request.user.is_admin %}
        <div class="col-3">
          {{ filter_form.collector|as_crispy_field }}
        </div>
      {% endif %}
    </div>
    <div>
      <input type="submit" value="Filtrar" class="btn btn-primary">
      <a href="{% url 'list-customers' %}" class="btn btn-secondary erase-filters">Borrar Filtros</a>
    </div>
  </form>
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Dirección</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Teléfono</th>
        {% if request.user.is_admin %}
          <th scope="col">Cobrador</th>
        {% endif %}
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for customer in customers %}
        <tr>
          <th scope="row">{{customer.name}}</th>
          <td>{{customer.address}}</td>
          <td>{{customer.get_city_display}}</td>
          <td>{{customer.telephone}}</td>
          {% if request.user.is_admin %}
            <td>{{customer.collector.first_name}} {{customer.collector.last_name}}</td>
          {% endif %}
          <td>
            <a href="#" class="btn btn-primary">Editar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}