{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
  <h2>{% translate "Customer List" %}</h2>

  <form action="{% url 'list-customers' %}" method="get" class="filterset-form">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        {{ filter_form.name|as_crispy_field }}
      </div>
      <div class="col-sm-6 col-md-3">
        {{ filter_form.city|as_crispy_field }}
      </div>
      <div class="col-sm-6 col-md-3">
        {{ filter_form.address|as_crispy_field }}
      </div>
      {% if request.user.is_admin %}
        <div class="col-sm-6 col-md-3">
          {{ filter_form.collector|as_crispy_field }}
        </div>
      {% endif %}
    </div>
    <div>
      <input type="submit" value="{% translate "Filter" context "Filter button" %}" class="btn btn-primary">
      <a href="{% url 'list-customers' %}" class="btn btn-secondary erase-filters">{% translate "Clear" context "Clear filters button" %}</a>
    </div>
  </form>
  
  <table class="table table-hover table-with-installments-detail">
    <thead>
      <tr>
        <th scope="col">{% translate "Name" context "Column name" %}</th>
        <th scope="col">{% translate "Address" context "Column name" %}</th>
        <th scope="col">{% translate "City" context "Column name" %}</th>
        <th scope="col" class="d-none d-md-table-cell">{% translate "Telephone" context "Column name" %}</th>
        {% if request.user.is_admin %}
          <th scope="col" class="d-none d-md-table-cell">{% translate "Collector" context "Column name" %}</th>
        {% endif %}
        <th scope="col" class="text-center">{% translate "Actions" context "Column name" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for customer in customers %}
        <tr class="customer-detail">
          <th scope="row">{{customer.name}}</th>
          <td class="col-sm-3">{{customer.address}}</td>
          <td class="col-sm-3">{{customer.get_city_display}}</td>
          <td class="d-none d-md-table-cell">{{customer.telephone}}</td>
          {% if request.user.is_admin %}
            <td class="d-none d-md-table-cell">{{customer.collector.first_name}} {{customer.collector.last_name}}</td>
          {% endif %}
          <td class="actions text-center col-3 col-lg-2">
            <a href="{% url 'update-customer' customer.pk %}" class="btn btn-primary">
              <i class="bi bi-pencil-square"></i>
              <span class="d-none d-md-inline">{% translate "Edit" context "Edit button" %}</span>
            </a>
            <a href="tel:{{customer.telephone}}" class="btn btn-primary d-md-none">
              <i class="bi bi-telephone-fill"></i></span>
            </a>
          </td>
        </tr>
        <tr class="d-md-none">
          <td colspan="9" class="installments-detail">
            <div class="accordion accordion-flush" id="accordion-flush-{{customer.pk}}">
              <div class="accordion-item">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{customer.pk}}" aria-expanded="false" aria-controls="flush-collapse-{{customer.pk}}">
                  {% translate "More Details" %}
                </button>
                <div id="flush-collapse-{{customer.pk}}" class="accordion-collapse collapse" aria-labelledby="flush-heading-{{customer.pk}}" data-bs-parent="#accordion-flush-{{customer.pk}}">
                  <div class="accordion-body">
                    <table class="table">
                      <thead class="table-light">
                        <tr>
                          {% if request.user.is_admin %}
                            <th scope="row">{% translate "Collector" context "Column name" %}</th>
                          {% endif %}
                          <th>{% translate "Telephone" context "Column name" %}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          {% if request.user.is_admin %}
                            <td>{{customer.collector.first_name}} {{customer.collector.last_name}}</td>
                          {% endif %}
                          <td>{{customer.telephone}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}