{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block content %}
  <h2>Lista de Clientes</h2>

  <form action="{% url 'list-product' %}" method="get" class="filterset-form">
    <div class="row">
      <div class="col-3">
        {{ filter_form.name|as_crispy_field }}
      </div>
      <div class="col-3">
        {{ filter_form.brand|as_crispy_field }}
      </div>
      <div class="col-3">
        {{ filter_form.sku|as_crispy_field }}
      </div>
    </div>
    <div>
      <input type="submit" value="Filtrar" class="btn btn-secondary">
      <a href="{% url 'list-product' %}" class="btn btn-secondary erase-filters">Borrar Filtros</a>
    </div>
  </form>
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Marca</th>
        <th scope="col">Precio</th>
        <th scope="col">SKU</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
        <tr>
          <th scope="row">{{product.pk}}</th>
          <td>{{product.name}}</td>
          <td>{{product.brand}}</td>
          <td>{{product.price|floatformat:2|intcomma}}</td>
          <td>{{product.sku}}</td>
          <td>
            <a href="#" class="btn btn-primary">Editar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}