{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% load mathfilters %}
{% load crispy_forms_tags %}

{% block extra_header %}
  <link rel="stylesheet" href="{% static 'library/dselect/dselect.css' %}">
  <script src="{% static 'library/dselect/dselect.js' %}"></script>
{% endblock %}

{% block content %}
  <h2>{% translate "Pending Balance List" %}</h2>

  <form action="{% url 'list-pending-balance' %}" method="get" class="filterset-form">
    <div class="row">
      <div class="col-sm-5 col-md-5">
        {{ filter_form.customer|as_crispy_field }}
      </div>
      <div class="col-sm-5 col-md-5">
        {{ filter_form.city|as_crispy_field }}
      </div>
    </div>
    <div>
      <input type="submit" value="{% translate "Filter" context "Filter button" %}" class="btn btn-primary">
      <a href="{% url 'list-pending-balance' %}" class="btn btn-secondary erase-filters">{% translate "Clear" context "Clear filters button" %}</a>
    </div>
  </form>
  
  <div class="data-container">
    <div class="list-pending-balance">
      <table class="table table-hover table-with-installments-detail">
        <thead>
          <tr>
            <th scope="col">{% translate "Customer" context "Column name" %}</th>
            <th scope="col" class="text-center">{% translate "Sales" context "Column name" %}</th>
            <th scope="col" class="text-center d-none d-sm-table-cell">{% translate "Paid Amount" context "Column name" %}</th>
            <th scope="col" class="text-center d-none d-sm-table-cell">{% translate "Pending Balance" context "Column name" %}</th>
            <th scope="col" class="text-center">{% translate "Actions" context "Column name" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for customer in pending_balance %}
            <tr>
              <th scope="row" class="col-5">{{customer.customer__name}}</th>
              <td class="text-end d-none d-sm-table-cell col-2">{{customer.price|floatformat:0|intcomma}}</td>
              <td class="text-end d-none d-sm-table-cell col-2">{{customer.paid_amount|floatformat:0|intcomma}}</td>
              <td class="text-end d-md-table-cell col-2">{{customer.pending_balance|floatformat:0|intcomma}}</td>
              <td class="actions text-center col-1">
                <a href="{% url 'list-sales' %}?customer={{customer.customer__id}}" class="btn btn-primary">
                  <i class="bi bi-search"></i>
                  {% comment %} <span class="d-none d-sm-inline">{% translate "Details" context "Edit button" %}</span> {% endcomment %}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="totals d-flex flex-column align-items-end mb-5">
        <p class="p-0">{% translate "Total" %}: $<span id="total">{{total.total|default:0.0|floatformat:0|intcomma}}</span></p>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
<script>
  const config = {
    search: true, // Toggle search feature. Default: false
    creatable: false, // Creatable selection. Default: false
    clearable: true, // Clearable selection. Default: false
    maxHeight: '360px', // Max height for showing scrollbar. Default: 360px
    size: '', // Can be "sm" or "lg". Default ''
    placeholder: '{% translate "Search" context "dselect search button" %}',
    noResults: '{% translate "No Results" context "dselect no results text" %}'
  };
  dselect(document.querySelector('#id_customer'), config);

  // Set focus on search field when user opens the select element
  const customerSelect = document.querySelector('#id_customer + div.dselect-wrapper');
  const customerSearch = customerSelect.querySelector('.dropdown-menu input');

  customerSelect.addEventListener('shown.bs.dropdown', e => {
    customerSearch.focus();
  });
</script>
{% endblock %}