{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load humanize %}
{% load mathfilters %}
{% load crispy_forms_tags %}
{% load lookup_dict %}

{% block extra_header %}
  <link rel="stylesheet" href="{% static 'library/dselect/dselect.css' %}">
  <script src="{% static 'library/dselect/dselect.js' %}"></script>
{% endblock %}

{% block content %}
  <h2>{% translate "Sales List" %}</h2>

  <form action="{% url 'list-sales' %}" method="get" class="filterset-form">
    <div class="row">
      <div class="col-sm-2 col-md-1">
        {{ filter_form.id|as_crispy_field }}
      </div>
      <div class="col-sm-5 col-md-5">
        {{ filter_form.customer|as_crispy_field }}
      </div>
      <div class="col-sm-5 col-md-5">
        {{ filter_form.product|as_crispy_field }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-md-6 col-lg-5">
        <label for="id_date_from" class="form-label">{% translate "Sale Date" %}</label>
        <div class="input-group mb-3">
          <input type="date" name="date_from" class="dateinput form-control" id="id_date_from" value="{{filter_form.date_from.value}}">
          <span class="input-group-text">&nbsp;</span>
          <input type="date" name="date_to" class="dateinput form-control" id="id_date_to" value="{{filter_form.date_to.value}}">
        </div>
      </div>
    </div>
    <div>
      <input type="submit" value="{% translate "Filter" context "Filter button" %}" class="btn btn-primary">
      <a href="{% url 'list-sales' %}" class="btn btn-secondary erase-filters">{% translate "Clear" context "Clear filters button" %}</a>
    </div>
  </form>
  
  <table class="table table-hover table-with-installments-detail">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">{% translate "Date" context "Column name" %}</th>
        <th scope="col">{% translate "Customer" context "Column name" %}</th>
        {% comment %} <th scope="col" class="d-none d-sm-table-cell">Productos</th> {% endcomment %}
        <th scope="col">{% translate "Amount" context "Column name" %}</th>
        <th scope="col" class="text-center d-none d-sm-table-cell">{% translate "Installments" context "Column name" %}</th>
        <th scope="col" class="text-center d-none d-md-table-cell">{% translate "Collected" context "Column name" %}</th>
        <th scope="col" class="text-center d-none d-md-table-cell">{% translate "To Collect" context "Column name" %}</th>
        <th scope="col" class="text-center">{% translate "Actions" context "Column name" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for sale in sales %}
        <tr class="sale-detail {% if sale.uncollectible %}is-uncollectible{% endif %}">
          <th scope="row" class="col-1">{{sale.pk}}</th>
          <td class="col-2 col-sm-1">{{sale.sale_date|date:"d/m/y"}}</td>
          <td class="col-4 col-sm-3">{{sale.customer}}</td>
          {% comment %} <td class="col-sm-1 d-none d-sm-table-cell">
            {% if sale.products_quantity == 1 %}
              {{sale.products_quantity}} producto
            {% else %}
              {{sale.products_quantity}} productos
            {% endif %}</td> {% endcomment %}
          <td class="col-2 col-sm-1">{{sale.price|floatformat:0|intcomma}}</td>
          <td class="text-center d-none d-sm-table-cell">{{sale.installments}}</td>
          <td class="text-end d-none d-md-table-cell">{{sale.paid_amount|floatformat:0|intcomma}}</td>
          <td class="text-end d-none d-md-table-cell">{{sale.pending_balance|floatformat:0|intcomma}}</td>
          <td class="actions text-center col-2">
            <a href="{% url 'update-sale' sale.pk|unlocalize %}" class="btn btn-primary">
              <i class="bi bi-pencil-square"></i>
              <span class="d-none d-sm-inline">{% translate "Edit" context "Edit button" %}</span>
            </a>
          </td>
        </tr>
        <tr>
          <td colspan="9" class="sale-remarks">
            {{sale.remarks}}
          </td>
        </tr>
        <tr>
          <td colspan="9" class="installments-detail">
            <div class="accordion accordion-flush" id="accordion-flush-{{sale.pk|unlocalize}}">
              <div class="accordion-item">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{sale.pk|unlocalize}}" aria-expanded="false" aria-controls="flush-collapse-{{sale.pk|unlocalize}}">
                  {% translate "More Details" %}
                </button>
                <div id="flush-collapse-{{sale.pk|unlocalize}}" class="accordion-collapse collapse" aria-labelledby="flush-heading-{{sale.pk|unlocalize}}" data-bs-parent="#accordion-flush-{{sale.pk|unlocalize}}">
                  <div class="accordion-body">
                    <h6 class="d-md-none">{% translate "Other Data" %}</h6>
                    <table class="table d-md-none">
                      <thead class="table-light">
                        <th scope="col" class="text-center d-sm-none">{% translate "Installments" context "Column name" %}</th>
                        <th scope="col" class="text-center">{% translate "Collected" context "Column name" %}</th>
                        <th scope="col" class="text-center">{% translate "To Collect" context "Column name" %}</th>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="text-center d-sm-none">{{sale.installments}}</td>
                          <td class="text-center">{{sale.paid_amount|floatformat:0|intcomma}}</td>
                          <td class="text-center">{{sale.pending_balance|floatformat:0|intcomma}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="table">
                      <thead class="table-light">
                        <th scope="col">{% translate "Product" context "Column name" %}</th>
                        <th scope="col">{% translate "Price" context "Column name" %}</th>
                      </thead>
                      <tbody>
                        {% for p in sale.saleproduct_set.all %}
                          <tr>
                            <td>{{p.product}}</td>
                            <td>{{p.price|floatformat:0|intcomma}}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <h6>{% translate "Details of Fees" %}</h6>
                    <table class="table">
                      <thead class="table-light">
                        <tr>
                          <th scope="row">{% translate "Installment" %}</th>
                          <th>{% translate "Amount" context "Column name" %}</th>
                          <th>{% translate "Amount Paid" context "Column name" %}</th>
                          <th>{% translate "Status" context "Column name" %}</th>
                          <th class="text-center">{% translate "Last Payment Date" context "Column name" %}</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for i in sale.saleinstallment_set.all|dictsort:"id" %}
                          <tr>
                            <td scope="row">{{i.installment}}</td>
                            <td>{{i.installment_amount|floatformat:0|intcomma}}</td>
                            <td>{{i.paid_amount|floatformat:0|intcomma}}</td>
                            <td>{{i.get_status_display}}</td>
                            {% if i.status != 'PENDING' %}
                              {% lookup_dict last_payment_list i.pk as date %}
                              {% if date %}
                                <td class="text-center">{{date|date:"D d/m/y"}}</td>
                              {% else %}
                                <td></td>
                              {% endif %}
                            {% else %}
                              <td></td>
                            {% endif %}
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block extra_js %}
<script>
  const config = {
    search: true, // Toggle search feature. Default: false
    creatable: false, // Creatable selection. Default: false
    clearable: true, // Clearable selection. Default: false
    maxHeight: '360px', // Max height for showing scrollbar. Default: 360px
    size: '', // Can be "sm" or "lg". Default ''
    placeholder: '{% translate "Search" context "dselect search button" %}',
    noResults: '{% translate "No Results" context "dselect no results text" %}'
  };
  dselect(document.querySelector('#id_customer'), config);
  dselect(document.querySelector('#id_product'), config);

  // Set focus on search field when user opens the select element
  const customerSelect = document.querySelector('#id_customer + div.dselect-wrapper');
  const customerSearch = customerSelect.querySelector('.dropdown-menu input');

  const productSelect = document.querySelector('#id_product + div.dselect-wrapper');
  const productSearch = productSelect.querySelector('.dropdown-menu input');

  customerSelect.addEventListener('shown.bs.dropdown', e => {
    customerSearch.focus();
  });

  productSelect.addEventListener('shown.bs.dropdown', e => {
    productSearch.focus();
  });
</script>
{% endblock %}