{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block extra_header %}
  <link rel="stylesheet" href="{% static 'library/dselect/dselect.css' %}">
  <script src="{% static 'library/dselect/dselect.js' %}"></script>
{% endblock %}

{% block content %}
<h2>{% translate "Sale Update" %}</h2>

{% if messages %}
    {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}

<form action="" method="post" class="sale-creation">
  {% csrf_token %}
  <div class="col-12 col-sm-4">
    <div id="div_id_sale_date" class="mb-3">
      <label for="id_sale_date" class="form-label requiredField">
          Fecha de Venta<span class="asteriskField">*</span>
      </label>
      <input type="date" name="sale_date" value="{{form.sale_date.value|date:'Y-m-d'}}" class="dateinput form-control" required="" id="id_sale_date">
    </div>
  </div>
  {{ form.customer|as_crispy_field }}
  {{ form.collector|as_crispy_field }}
  {{ form.remarks|as_crispy_field }}
  <hr>
  <div class="products-list">
    <h3 class="title">{% translate "Products" context "Sale subtitle" %}</h3>
    {{products.management_form|crispy}}
    <div id="empty_form" style="display: none;">
      {% with products.empty_form as emptyform %}
      <div class="form-row" data-form-index="">
        <div class="row">
          {{ emptyform.id|as_crispy_field }}
          {{ emptyform.sale|as_crispy_field }}
          <div class="col-6">
            {{ emptyform.product|as_crispy_field }}
          </div>
          <div class="col-4">
            {{ emptyform.price|as_crispy_field }}
          </div>
          {% if add_product_button_disabled == False %}
            <div class="col-2">
              <button id="delete-form" type="button" class="btn btn-secondary remove-form-row" data-form-index="">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          {% endif %}
        </div>
      </div>
      {% endwith %}
    </div>
    <div class="product-forms">
      <div class="row">
        <div class="col-6">
          <p style="margin-bottom: .5rem;">{% translate "Product" %}</p>
        </div>
        <div class="col-4">
          <p style="margin-bottom: .5rem;">{% translate "Price" %}</p>
        </div>
      </div>
      {% for productform in products %}
        {% if add_product_button_disabled == False %}
          {% if forloop.counter0 > 0 %}
            <span class="existing-formset-delete-button">{{ productform.DELETE|as_crispy_field }}</span>
          {% endif %}
        {% endif %}
        <div class="form-row" data-form-index="{{ forloop.counter0 }}">
          <div class="row">
            {{ productform.id|as_crispy_field }}
            {{ productform.sale|as_crispy_field }}
            <div class="col-6">
              {{ productform.product|as_crispy_field }}
            </div>
            <div class="col-4">
              {{ productform.price|as_crispy_field }}
            </div>
            {% if add_product_button_disabled == False %}
              {% if forloop.counter0 > 0 %}
                <div class="col-2">
                  <button id="delete-form" type="button" class="btn btn-secondary remove-form-existing-instance" data-form-index="{{ forloop.counter0 }}">
                    <i class="bi bi-trash"></i>
                  </button>
                </div>
              {% endif %}
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    <button id="add-form" type="button" class="btn btn-outline-primary add-form-row" {% if add_product_button_disabled %}disabled{% endif %}>{% translate "Add Product" context "Add product button" %}</button>
  </div>
  <hr>
  <h3 class="title">{% translate "Amount of Fees" context "Payment scheme" %}</h3>
  <div class="row">
    <div class="col-4">
      {{ form.price|as_crispy_field }}
    </div>
    <div class="col-4">
      {{ form.installments|as_crispy_field }}
    </div>
    <div class="col-4">
      {{ form.installment_amount|as_crispy_field }}
    </div>
  </div>
  <div class="col-6" id="payment-scheme">
    <p class="title">{% translate "Details" %}:</p>
    <table class="table">
      <tbody>
        {% if installments_scheme %}
          <tr id="payment-scheme-row-1" class="payment-scheme-row">
            <th scope="row" id="i" style="visibility:visible;">{{installments_scheme.0.installments}}</th>
            <td style="visibility:visible;">{% translate "installments of" context "Payment scheme" %}</td>
            <td id="i_amount" style="visibility:visible;">{{installments_scheme.0.installment_amount}}</td>
          </tr>
          {% if installments_scheme|length == 2 %}
            <tr id="payment-scheme-row-2" class="payment-scheme-row">
              <th scope="row" style="visibility:visible;">1</th>
              <td style="visibility:visible;">{% translate "installment of" context "Payment scheme" %}</td>
              <td id="rest_amount" style="visibility:visible;">{{installments_scheme.1.installment_amount}}</td>
            </tr>
          {% else %}
            <tr id="payment-scheme-row-2" class="payment-scheme-row">
              <th scope="row">1</th>
              <td>{% translate "installment of" context "Payment scheme" %}</td>
              <td id="rest_amount"></td>
            </tr>
          {% endif %}
        {% endif %}
      </tbody>
    </table>
  </div>
  <hr>
  <div class="alert alert-danger uncollectible-sale" role="alert">
    {{ form.uncollectible|as_crispy_field }}
  </div>
  <hr>
  <div class="d-flex flex-row justify-content-start align-items-center mt-4">
    <input type="submit" value="{% translate "Save" context "Save button" %}" class="btn btn-primary me-3 mt-0">
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">
      {% translate "Delete" context "Delete button" %}
    </button>
  </div>
</form>

<!-- Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{% translate "Are you sure?" context "Delete modal dialog title" %}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% translate "Do you really want to delete this sale?" context "Delete modal dialog text" %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "No" %}</button>
        <form method="POST" action="{% url 'delete-sale' object.pk  %}">
          {% csrf_token %}
          <input type="submit" class="btn btn-danger mt-0" value="{% translate "Delete" context "Delete button" %}">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/create-sale.js' %}" type="text/javascript"></script>

<script>
  const config = {
    search: true, // Toggle search feature. Default: false
    creatable: false, // Creatable selection. Default: false
    clearable: false, // Clearable selection. Default: false
    maxHeight: '360px', // Max height for showing scrollbar. Default: 360px
    size: '', // Can be "sm" or "lg". Default ''
    placeholder: '{% translate "Search" context "dselect search button" %}',
    noResults: '{% translate "No Results" context "dselect no results text" %}'
  };
  dselect(document.querySelector('#id_customer'), config);

  // Set focus on search field when user opens the select element
  const customerSelect = document.querySelector('#id_customer + div.dselect-wrapper');
  const customerSearch = customerSelect.querySelector('.dropdown-menu input');

  customerSelect.addEventListener('shown.bs.dropdown', e => {
    customerSearch.focus();
  });
</script>
{% endblock %}
